* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #161616;
}
